<!DOCTYPE html>
<html>
<head>
	<title>权限添加</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="__COMMON__/layui/css/layui.css">
	<link rel="stylesheet" type="text/css" href="__COMMON__/font-awesome/css/font-awesome.css">
	<style type="text/css">
		.layui-form-item{
			margin-bottom: 0;
		}
	</style>
</head>
<body>
	<form class="layui-form" action="">
		<input type="hidden" name="pid" value="<?php echo $_GET['pid']?>" />
		<input type="hidden" name="level" value="<?php echo $_GET['level']?>" />
		<input type="hidden" name="id_list" value="<?php echo $_GET['id_list']?>" />
		<div class="layui-form-item">
			<label class="layui-form-label">名称</label>
			<div class="layui-input-block">
		    	<input type="text" name="name" lay-verify="required" autocomplete="off" class="layui-input">
		    </div>
		    <div class="layui-form-mid layui-word-aux"></div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">控制器</label>
			<div class="layui-input-block">
		    	<input type="text" name="controller" <?php echo $_GET['pid']==0?'disabled placeholder="无需填写"':'lay-verify="required"';?> autocomplete="off" class="layui-input">
		    </div>
		    <div class="layui-form-mid layui-word-aux"></div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">方法</label>
			<div class="layui-input-block">
		    	<input type="text" name="action" <?php echo $_GET['pid']==0?'disabled placeholder="无需填写"':'lay-verify="required"';?> autocomplete="off" class="layui-input">
		    </div>
		    <div class="layui-form-mid layui-word-aux"></div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">排序</label>
			<div class="layui-input-block">
		    	<input type="text" name="sort" lay-verify="number" autocomplete="off" class="layui-input" value="99">
		    </div>
		</div>
		<?php if($_GET['level']<2){?>
			<div class="layui-form-item">
				<label class="layui-form-label">图标</label>
				<div class="layui-input-block" style="height:150px;overflow:auto;">
			    	<?php foreach ($this->iconClass as $key => $value) {
			    		echo '<input type="radio" name="icon" value="'.$value.'" title="<i class=\'fa fa-fw '.$value.'\'></i>">';
			    	}?>
			    </div>
			</div>
		<?php }?>
		<div class="layui-form-item">
		    <div class="layui-input-block">
		      	<button class="layui-btn" lay-submit lay-filter="submit">立即提交</button>
		      	<button type="reset" class="layui-btn layui-btn-primary">重置</button>
		    </div>
	    </div>
	</form>
<script src="__COMMON__/layui/layui.all.js"></script>
<script src="__COMMON__/layui/layuiGlobal.js"></script>
<script type="text/javascript">
form.on('submit(submit)', function(data){
	$.ajax({
		url:"<?php echo u('/Auth/ajaxAdd');?>",
		type:'post',
		data:data.field,
		dataType:'json',
		success:function(result){
			layer.msg(result.echo);
		},
		error:function(result){
			layer.msg('程序错误!');
		}
	});
	return false;
});
</script>
</body>
</html>